
[user]
	name = Jermaine van Wijhe
	email = git@dviate.com
	signingkey = 9D483E93BFBBCA2A

[core]
	excludesfile = ~/.gitignore
	autocrlf = false
	safecrlf = true

[push]
	default = tracking

[branch]
	autosetuprebase = always

[branch "master"]
	rebase = true

[branch "main"]
	rebase = true

[commit]
	gpgsign = true

[alias]
	b = branch
	t = tag
	d = diff --stat -p -C
	ds = diff --staged --stat -p -C
	ci = commit -v
	co = checkout
	st = status -sb -uall
	wc = whatchanged --abbrev-commit --date=relative --date-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' -n 45
	ll = log --graph --date=relative --topo-order --pretty='format:%C(yellow)%h%C(yellow)%d %Cblue%ar %Cgreenby %an%Creset -- %s'
	lla = log --graph --date=relative --topo-order --pretty='format:%Cgreen%h %Cblue%ar %Credby %an%Creset -- %s' --all
	gl = log --decorate --graph --abbrev-commit --color --color-words --topo-order --pretty=medium
	gla = log --decorate --graph --abbrev-commit --color --color-words --topo-order --pretty=medium --all
	sl = log --decorate --graph --abbrev-commit --color --topo-order --pretty=oneline
	sla = log --decorate --graph --abbrev-commit --color --topo-order --pretty=oneline --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	guilt = "!f(){ git log --pretty='format:%an <%ae>' $@ | sort | uniq -c | sort -rn; }; f"
	aliases = config --get-regexp alias
	recap = log --since=\"00:00:00\" --no-merges --oneline --author=git@dviate.com
	submodules = git submodule foreach git checkout master && git submodule foreach git pull && git commit -am "Update submodules" && git submodule update --init --recursive
	cleanupdevelop = "!f(){ git branch --merged develop | grep -v 'develop' | xargs -n 1 git branch -d; }; f"
	cleanupmaster = "!f(){ git branch --merged master | grep -v 'master' | xargs -n 1 git branch -d; }; f"
	cleanupmain = "!f(){ git branch --merged main | grep -v 'main' | xargs -n 1 git branch -d; }; f"
	sweep = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[diff]
	renames = true

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = blue bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = blue bold
	changed = green bold
	untracked = cyan bold

[blame]
	date = relative
